@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@import '../../node_modules/@mdxeditor/editor/dist/style.css';
@plugin "@tailwindcss/typography";


:root {
  --primary: #9a9a9a;
  --primaryDark: #f3f0ff;
  --primarylight: #294485;
  --card: oklch(1 0 0);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --faded: #c52595;
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-dark: #f0feff;
  --destructive: oklch(0.577 0.245 27.325);
  --tertiary: #9225c5;
  --chatbg: #fefefe;

  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

@theme inline {
  --color-primaryDark: var(--primaryDark);
  --color-chatbg: var(--chatbg);
  --color-destructive: var(--destructive);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primarylight: var(--primarylight);
  --color-secondary: var(--secondary);
  --color-aasd: var(--background);
  --color-card: var(--card);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-input: var(--primary-input);
  --color-faded: var(--faded);
  --color-upload-border: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-chat-bubble-ai: var(--color-foreground);
  --color-chat-bubble-user: var(--primarylight);
  --color-tertiary: var(--tertiary);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-neutral-border: var(--sidebar);
  --color-neutral-bgSubtle: var(--accent);
  --color-neutral-text: var(--sidebar-foreground);
  --color-accent-text: var(--accent-foreground);
  --color-secondary-text: var(--secondary-foreground);
  --color-accent-solid: var(--accent);
}



.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

.border {
  border: 1px solid var(--primary);
}

.blurglass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.33);
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown ul,
.markdown ol {
  margin: 0; /* remove browser margin */
  padding-left: 1.5em; /* control indentation */
}

.markdown li {
  margin: 0; /* reset li margin */
  padding: 0; /* reset li padding */
  line-height: 1.5; /* improve readability */
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  cursor: pointer;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes customPulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  } /* control the min opacity here */
}

@layer utilities {
  .animate-customPulse {
    animation: customPulse 1.5s ease-in-out infinite;
  }
}

code {
  background-color: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;
}

ins {
  background-color: #d1fae5; /* light green for additions */
  text-decoration: none;
}
del {
  background-color: #fee2e2; /* light red for deletions */
  text-decoration: line-through;
}
